{% extends "djime/base.html" %}

{% load i18n %}

{% block subnav_base %}
<div class="clearfix">
  <ul>
    <li><a href="{% url djime_timetrack %}">{% trans "Track time" %}</a></li>
    <li><a href="{% url djime_timesheet %}">{% trans "Timesheet" %}</a></li>
    <li><a href="{% url djime_index %}">{% trans "Your tasks" %}</a></li>
    <li><a href="{% url djime_statistics_index %}">{% trans "Statictics" %}</a></li>
    <li><a href="{% url djime_data_import_form %}">{% trans "Data import" %}</a></li>
  </ul>
</div>
{% endblock %}