{% extends "djime/data_import/base.html" %}

{% load i18n %}
{% load uni_form %}

{% block head_title %}{% trans "Import data" %}{% endblock %}

{% block body %}
<h3 class="title">{% trans "Import time tracking data to your account" %}</h3>
  <form class="uniForm timesheet" action="" method="post" enctype="multipart/form-data">
    <fieldset class="inlineLabels">
      {{ djime_data_import_form|as_uni_form }}
      <div class="form_block">
        <input class="submit" type="submit" value="{% trans 'Import' %}" />
      </div>
    </fieldset>
  </form>
{% endblock %}
