{% extends "site_base.html" %}

{% load i18n %}

{% block body_class %}time{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}external/css/ui.core.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}external/css/ui.theme.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}external/css/ui.datepicker.css" />
{% endblock %}

{% block subnav_base %}
  <div class="clearfix subnav-one">
    <ul>
      <li><a href="{% url djime_timetrack %}">{% trans "Track time" %}</a></li>
      <li><a href="{% url djime_timesheet %}">{% trans "Timesheet" %}</a></li>
      <li><a href="{% url djime_index %}">{% trans "Your tasks" %}</a></li>
      <li><a href="{% url djime_statistics_index %}">{% trans "Statictics" %}</a></li>
      <li><a href="{% url djime_data_import_form %}">{% trans "Data import" %}</a></li>
    </ul>
  </div>
  <div class="clearfix subnav-two">{% block subnav %}&nbsp;{% endblock %}</div>
{% endblock %}

{% block extra_body %}
  <script type="text/javascript" src="{{ STATIC_URL }}djime/js/djime.js"></script>
{% endblock %}