{% extends "djime/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load slice_filter %}

{% block subnav %}
  <ul>
    <il><a href="{% url djime_timesheet %}">{%trans "Today" %}</a></li>
    <il><a href="{% url djime_this_wmqy_timesheet method="week" %}">{%trans "This week" %}</a></li>
    <il><a href="{% url djime_this_wmqy_timesheet method="month" %}">{%trans "This month" %}</a></li>
    <il><a href="{% url djime_this_wmqy_timesheet method="quarter" %}">{%trans "This quarter" %}</a></li>
    <il><a href="{% url djime_this_wmqy_timesheet method="year" %}">{%trans "This year" %}</a></li>
    <il><a href="{% url djime_select_timesheet %}">{%trans "Select date" %}</a></li>
  </ul>
{% endblock %}

{% block body %}
  <h2 class="title">{% blocktrans %}Timesheet for {{ headline }}{% endblocktrans %}</h2>
    {% if slice_list %}
      <table class="time-sheet table">
        <thead>
          <tr>
            <th>{% trans "Time" %}</th>
            <th>{% trans "Task" %}</th>
            <th>{% trans "Project" %}</th>
            <th>{% trans "Note" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for slice in slice_list %}
            <tr>
              <td>{{ slice.duration|slice_time_display }}</td>
              <td>{{ slice.task }}</td>
              <td>{{ slice.task.group }}</td>
              <td>{{ slice.note }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="empty">
        <p>{% trans "No timeslice has been recorded by you today" %}</p>
      </div>
    {% endif %}
  <h3 class="title">{% trans "Add a timeslice for today" %}</h3>
    <form class="uniForm timesheet" action="" method="post">
      <fieldset class="inlineLabels">
        {{ timesheet_timeslice_form|as_uni_form }}
        <div class="form_block">
          <input class="submit" type="submit" value="{% trans 'Add a sheet' %}" />
        </div>
      </fieldset>
    </form>
{% endblock %}
