{% extends "djime/base.html" %}

{% load i18n %}

{% block subnav %}
  <ul>
    <il><a href="{% url djime_this_wmqy_statistics method="week" %}">{% trans "This week" %}</a></li>
    <il><a href="{% url djime_this_wmqy_statistics method="month" %}">{% trans "This month" %}</a></li>
    <il><a href="{% url djime_this_wmqy_statistics method="quarter" %}">{% trans "This quarter" %}</a></li>
    <il><a href="{% url djime_this_wmqy_statistics method="year" %}">{% trans "This year" %}</a></li>
    <il><a href="{% url djime_select_statistics %}">{% trans "Select date" %}</a></li>
    {% if user.is_staff %}
      <il><a href="{% url djime_statistics_billing_index %}">{% trans "Billing infomation" %}</a></li> 
    {% endif %}
  </ul>
{% endblock %}

{% block extra_body %}
  {% if flot_data %}
    <script>
      djime.flot_data = {{ flot_data|safe }};
      {% if method %}
        djime.flot_data.meth = "{{ method }}";
        djime.flot_data.meth_value = {{ method_value }};
        djime.flot_data.current_value = {{ method_value }};
      {% endif %}
    </script>
  {% endif %}
  <script type="text/javascript" src="{{ STATIC_URL }}external/js/jquery.flot.js"></script>
  <!--[if IE]>
  <script type="text/javascript" src="{{ STATIC_URL }}external/js/excanvas.js"></script>
  <![endif]-->
{% endblock %}