{% extends "tasks/base.html" %}

{% load i18n %}
{% load shorttimesince_tag %}
{% load order_by %}
{% load humanize %}
{% load tasks_tags %}
{% load tagging_tags %}
{% load group_tags %}
{% load task_tags %}

{#}{% block head_title %}Tasks for {{ project.name }}{% endblock %}#}
{% block head_title %}Tasks{% endblock %}

{% block body %}
    {#<h1>{% trans "Tasks for Project" %} <a href="@@@">{{ group.name }}</a></h1> #}
    <h1>{% trans "Tasks" %}</h1>
    
    <form action="" method="GET">
        <div class="task_filter">
            <ul>
                {{ task_filter.form.as_ul }}
                <li><input type="submit" value="filter"/></li>
            </ul>
        </div>
    </form>

    <table class="task_list djime">
      <thead>
        <tr>
            <th>{% trans "ID" %}</th>
            <th>{% trans "Summary" %}</th>
            <th>{% trans "Last Modified" %}</th>
            <th>{% trans "Project" %}</th>
            <th>{% trans "Assignee" %}</th>
            <th>{% trans "Tags" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Time" %}</th>
            <th>{% trans "Track Time" %}</th>
        </tr>
      </thead>
        <tbody>
          {% for task in tasks reversed %}
            <tr class="task_{{ task.get_state_display }} {% cycle odd,even %}">
              <td>{{ task.id }}</td>
              <td><a href="{% groupurl task_detail group id=task.id %}">{{ task.summary }}</a></td>
              <td style="white-space: nowrap">{{ task.modified|shorttimesince }} {% trans "ago" %}</td>
              <td>{% if task.group %}{{ task.group }}{% endif %}</td>
              <td>
                  {% if task.assignee %}
                      <a href="{% groupurl tasks_for_user group username=task.assignee %}">{{ task.assignee }}</a>
                      
                  {% else %}
                      <span class="warning">{% trans "unassigned" %}</span>
                  {% endif %}
              </td>
              <td>{% task_tags task group %}</td>
              <td>{{ task.status }}</td>
              <td>{% get_users_time task user %}</td>
              <td class="track"><span class="{{ task.id }}">{% trans "Click" %}</span></td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
