/** table styles **/
table.djime td {
    vertical-align: top;
    padding: 5px 20px 5px 5px;
}

table.djime {
    width: 100%;
}

table.djime thead th {
    background: #9BC;
    text-align: left;
    color: #FFF;
    padding: 5px 20px 5px 5px;
}

table.djime tbody tr {
    background: #DEF;
    color: #333;
    border-top: 1px solid #BCD;
}

/** navigation styles **/
.subnav-one {
  border-bottom: 1px solid #9BC;
}

.subnav-two {
  background: #F0F7FF;
}

/** datepicker styles **/
#ui-datepicker-div {
  z-index: 1;
}

/** my tasks page and table styles **/
table.my-tasks tr.odd,
table.billing tr.odd {
  background-color: #DDDDDD;
}

table.my-tasks tr.even,
table.billing tr.even {
  background-color: #EEEEEE;
}

table.my-tasks tr.timer-added {
  background: #B4FFE5;
}

table.my-tasks tr.timer-added span.hasTimeClock.tock span.sep-hours {
  color: #B4FFE5;
}

/** statusbar styles **/
#djime-statusbar .content {
  width: 49%;
  float: left;
}

#task-timer-sidebar-button {
  width: 49%;
  float: left;
  margin-top: 0.5em;
  background-color: #007BA7;
  font-size: 250%;
  padding: 0.25em 0.5em;
  text-indent: 2em;
  width: 138px;
  color: white;
  -moz-border-radius-bottomleft:25px;
  -moz-border-radius-bottomright:25px;
  -moz-border-radius-topleft:25px;
  -moz-border-radius-topright:25px;
  -webkit-border-radius-bottomleft:25px;
  -webkit-border-radius-bottomright:25px;
  -webkit-border-radius-topleft:25px;
  -webkit-border-radius-topright:25px;
}

#task-timer-sidebar-button.tock span.sep-hours {
  color: #007BA7;
}

tr.timer-added span.hasTimeClock.tock span.sep-hours {
  color: #DEF;
}

/** Flot plot styles **/
ul.djime-flot {
  display: inline;
  list-style: none;
  padding-left: 275px;
}

ul.djime-flot li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}

/** Import styles **/
div.import p,
div.import form {
  display: inline;
  padding-right: 10px;
}

div.import {
  padding-top: 10px;
}

/** Tweaks for Tasks app generated tables **/
table.djime.task_list tr.timer-added {
  background: #B4FFE5;
}

table.djime.task_list tr.timer-added span.hasTimeClock.tock span.sep-hours {
  color: #B4FFE5;
}

/** Tweaks for Projects app generated pages **/

div.right_panel.djime {
  width: 300px;
}

div.right_panel.djime .uniForm .inlineLabels label {
  width: 25%;
}

div.right_panel.djime .uniForm .inlineLabels select {
  width: 65%;
}

div.right_panel.djime .uniForm .inlineLabels textarea {
  width: 65%;
  height: 5em;
}
